@import url('../dist/fontawesome/css/all.min.css');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800&display=swap');
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+SC:400,500,700,900&display=swap");

// variables
$primarycolor: #1B6CFF;
$yellow: #FFF941;
$red: #FF4D23;
$blue: #3D8EF7;
$green: #1CE33D;
$gray: #999;
$lightgray: #ddd;

.cn-text {
  font-family: "Noto Sans SC", sans-serif;
}

.light-text {
  color: #fff;
}

body,
html {
  font-family: 'Open Sans', sans-serif;
  color: rgba(50, 50, 50, 0.8);
}

body {
  padding-top: 100px;
  background: url(../images/imgbkg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

// navigation

.topnavbar {

  background-color: #fff !important;

  .kslogo {
    img {
      max-width: 100px;
    }
  }

  .nav-link {
    font-weight: 700;
    transition: all 0.5s ease;
  }

  .navbar-nav .active>.nav-link,
  .navbar-nav .nav-link.active,
  .navbar-nav .nav-link.show,
  .navbar-nav .show>.nav-link {
    color: $primarycolor;
  }

  .navbar-nav .nav-link:focus,
  .navbar-nav .nav-link:hover {
    color: $primarycolor;
  }

}

.navbar-light .navbar-toggler {
  color: rgba(0, 0, 0, 1);
  border-color: rgba(0, 0, 0, 0);
}

.navbar-toggler:focus,
.navbar-toggler:active {
  outline: none;
  box-shadow: none;
}

@media (min-width: 768px) {

  .navbar-expand-md .navbar-nav .nav-link {
    padding-right: 1rem;
    padding-left: 1rem;
  }

}

@media (max-width: 767px) {
  .topnavbar {
    .kslogo {
      img {
        max-width: 80px;
      }
    }

    .navbar-nav {
      padding-top: 1rem;
    }

    .nav-item {
      border-top: 1px solid #ddd;
    }

    .nav-link {
      display: block;
      padding: 1rem 1rem;
    }
  }
}

// main

.topanel {
  padding: 4rem 1rem;
  margin-bottom: 2rem;

  .displaytime {
    font-size: 48px;
    text-transform: uppercase;
    font-weight: 800;
  }

  .displaytime-cn {
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 1px;
  }

  .displayclock {
    margin-top: 20px;
    font-size: 18px;
    font-weight: 600;
  }

  #calendarbtn {
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    cursor: pointer;
    border: none;
    background: #fff;
    color: $gray;
    border-radius: 0 .25rem .25rem 0;
    transition: all 0.5s ease;
  }

  #calendarbtn:hover,
  #calendarbtn:focus {
    color: $primarycolor;
  }

  .input-group {
    border: 2px solid #C2102B;
    border-radius: .25rem;
  }

  .form-control {
    -webkit-appearance: none;
    border: 1px solid #fff;
  }

  .form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #fff;
    outline: 0;
    box-shadow: none;
  }
}

.datepicker.datepicker-dropdown {
  z-index: 1031 !important;
}

@media (max-width: 991px) {

  .topanel {
    .displaytime {
      text-align: center;
    }

    .displaytime-cn {
      text-align: center;
    }

    .displayclock {
      text-align: center;
      margin-bottom: 30px;
    }
  }

}

@media (max-width: 767px) {
  .topanel {
    padding: 3rem 1rem;
    margin-bottom: 2.2rem;

    .displaytime {
      font-size: 30px;
    }

    .displaytime-cn {
      font-size: 24px;
    }
  }

}

// result

.resultframe {
  background: rgb(255, 214, 49);
  background: linear-gradient(0deg, rgba(255, 214, 49, 1) 0%, rgba(255, 214, 49, 1) 50%, rgba(255, 248, 49, 1) 100%);
  border: 1px solid $yellow;
  border-radius: 5px;
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  -moz-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  -ms-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  -o-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);

  .resultinfo {
    padding: 1.25rem;

    .row {
      margin-left: 0;
      margin-right: 0;
    }

    .resultcol {
      border-width: 5px;
      border-style: solid;
      max-width: 190px;
      border-radius: 5px;
      padding: 0;

      .imgframe {
        background: #fff;
        border-radius: 4px;
        overflow: hidden;
        text-align: center;

        img {
          display: block;
          margin: 0 auto;
          padding: 10px;
          max-height: 130px;
        }
      }

      .numbers {
        .numtxt {
          width: 50%;
          padding-left: 5px;
          padding-top: 10px;
          float: left;
          display: inline;
          overflow: hidden;
          font-size: 18px;
          font-weight: 700;
          color: #333;

          span {
            display: block;
          }
        }

        .num {
          width: 50%;
          padding-right: 5px;
          display: inline;
          float: right;
          text-align: right;
          font-size: 48px;
          font-weight: 800;
          color: #000;
          text-shadow: 0px 2px 1px rgba(255, 255, 255, 0.4);
        }
      }
    }

    .resultcol+.resultcol {
      margin-left: 10px;
    }

    .colred {
      border-color: $red;
      background: $red;
    }

    .colblue {
      border-color: $blue;
      background: $blue;
    }

    .colgreen {
      border-color: $green;
      background: $green;
    }
  }

  h5 {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 30px;

    span {
      padding-left: 8px;
    }
  }

  .resultdeco {
    position: relative;

    img {
      max-width: 480px;
      position: absolute;
      top: -20px;
      right: -30px;
    }
  }
}

.resultframe+.resultframe {
  margin-top: 3rem;
}

@media (max-width: 1199px) {

  .resultdeco {
    position: relative;

    img {
      max-width: 360px !important;
      position: absolute;
      top: -20px;
      right: -40px !important;
    }
  }

}

@media (min-width: 992px) {

  .duplicatedimg {
    display: none;
  }
}

@media (max-width: 991px) {

  .resultframe {
    position: relative;

    h5 {
      margin-bottom: 50px !important;
    }
  }

  .resultframe+.resultframe {
    margin-top: 6rem !important;
  }

  .duplicatedimg {
    display: block;
    max-width: 200px;
    position: absolute;
    top: -80px;
    right: 0;
    overflow: hidden;

    img {
      width: 100%;
      ;
    }
  }

  .resultdeco {
    display: none;
  }

  .resultcol {
    border-width: 5px;
    border-style: solid;
    max-width: 100% !important;
  }

  .resultcol+.resultcol {
    margin-left: 10px;
    max-width: calc(33.333333% - 10px) !important;
  }
}

@media (max-width: 767px) {

  .resultcol {
    border-width: 3px;
    border-style: solid;
    border-radius: 5px;
    padding: 0;

    .imgframe {
      img {
        display: block;
        margin: 0 auto;
        padding: 10px;
        max-height: 86px !important;
      }
    }
  }

  .numbers {
    .numtxt {
      width: 100% !important;
      padding-left: 0px !important;
      padding-top: 0px !important;
      padding-bottom: 10px;
      font-size: 16px !important;
      margin-top: -6px;
      font-weight: 700;
      text-align: center !important;

      span {
        display: block;
      }
    }

    .num {
      width: 100% !important;
      padding-right: 0px !important;
      text-align: center !important;
      font-size: 40px !important;
    }
  }

}

footer {
  color: rgba(255, 255, 255, 0.6);
  margin-top: 3rem;
  margin-bottom: 1rem;
}